<!DOCTYPE html>
<html>
<head>

	<link rel="stylesheet" type="text/css" href="styles.css">

		<script type="text/html" id="star-template">
		<span class="<%= starClass %>"><%=star%></span>
		</script>

		<script type="text/html" id="author-template">
		<%=firstName+ " " + lastName %>
		</script>

		<script type="text/html" id="book-template">
		<div class="seperator"></div>

		<aside class="book-store">
	
			<h3 class="book-title"> <%= title %></h3>
			<div class="book-cover">
			<img src="<%= image %>"></img>

			<div class="book-authors">By:
				<%=renderAuthors(authors)%>
			</div>
			<dl>
			<dt>Publish Date</dt>
			<dd class="publish-date">
			<ds class="book-month"><%=numberToMonth(publishDate.month)%></ds>
			<ds class="book-year"><%=publishDate.year%></ds>
			</dd>
			<dd class="book-rating">Rating:
			<span><%= renderRating(rating) %>
			</span>
			</dd>
			<dd class="book-price">Price:
			<span><%=price%>
			</span>
			</dd>
			</dl>
			<button data-id="<%=id%>">Add to Cart</button>
		
		</aside>
		</script>	
		
		<script type="text/html" id="total-price-template">
			<tfoot>
			<td></td>
			<td></td>
			<td><%=totalPrice%></td>
			</tfoot>
		</script>
		<script type="text/html" id="line-item-template">
		<tr>
			<td><%=book.title%></td>
			<td><%=book.price%></td>
		<td>
			<button data-id="<%=id%>">Remove</button>
		</td>
		</tr>
		</script>
		<script type="text/html" id="shopping-cart-template">
		<table> 
			<tbody>
				<%= renderLineItems(items)%> 
			</tbody>
			<tfoot>
			<%=renderTotalPrice(items)%>
			</tfoot>
		</table>
		</script>
			
</head>
<body>
	<div id="books-store">
		<h1>Books Available</h1>
	</div>
	<section id="shopping-cart">
		<h1>Shopping Cart</h1>
		
	</section>


<script src="underscore.js"></script>
<script src="jquery.js"></script>

<script src="book.js"></script>
<script src="test.js"></script>
</body>
</hmtl>
