<!DOCTYPE html>
<html>
<head>
	
	<script type="x-template/my-template" id="author-template">	 <span><%= firstName %><%= lastName %></span>
	</script>

	
	<script type="text/html" id="book-template">
	<aside class="book">
	<h3 class="book-title"> <%= title %></h3>
	<aside class="book-cover">
			 <img src="<%=image %>"></img>
		</aside>
	<ul class="book-authors">
	By:
	<% _.each(authors,function(author){ %>
		<li><%= author.firstName%> <%=author.lastName%></li>
		<% }) %>
	</ul>
	
		<dl>
		<dt>Publish date</dt>
		<dd class="publish-date">
			<span class="book-month"><%=numberToMonth(publishDate.month) %></span>
			<span class="book-year"><%=publishDate.year %></span>
			<dt>Rating</dt>
			<dd class="book-rating"><%=rating%></dd>
			<dt>Price</dt>
			<dd class="book-price">$<%= price %></dd>
		</dl>
		<div class="add-to-cart">
		<button>Add To Cart
		</button>
		</div>
	</aside>
</script>
<script type="text/html" id="cart-template">
</script>
</head>
<body>
		<div id="books-store">
			<h1>Book Store</h1>
			<h2>Available Books</h2>
		
		<aside class="book-info">
			<header class="book-title"></header>	
		</div>
		<div id="shopping-cart">
			<h2>Items Added:</h2>
				<button id="test-button">test</button>
		</div>
		<table id="my-table">
		</table>

<!------------------------------------------------------- -->


				<script src="underscore.js"></script>
				<script src="book.js"></script>
				<script src="jquery.js"></script>
				<script src="test.js"></script>
			</body>
			</html>