<!DOCTYPE html>
<html>
<head>
		<script type="text/html" id="star-template">
		<span class="<%= starClass %>"><%=star%></span>
		</script>
		<script type="text/html" id="author-template">
		<%=firstName+ " " + lastName %>
		</script>
		<script type="text/html" id="book-template">
		<div class="seperator"></div>

		<aside class="book-store">
		<div>
			<h3 class="book-title"> <%= title %></h3>
			<div class="book-cover">
			<img src="<%= image %>"></img>

			<div class="book-authors">By:
				<%=renderAuthors(authors)%>
			</div>
			<dl>
			<dt>Publish Date</dt>
			<dd class="publish-date">
			<ds class="book-month"><%=numberToMonth(publishDate.month)%></ds>
			<ds class="book-year"><%=publishDate.year%></ds>
			</dd>
			<dd class="book-rating">Rating:
			<span><%= renderRating(rating) %>
			</span>
			</dd>
			<dd class="book-price">Price:
			<span><%=price%>
			</span>
			</dd>
			</dl>
			<button class="add-to-cart">Add to Cart</button>
		</div>
		</aside>
		</script>		
</head>
<body>
	<div id="books-store">
		<h1>Books Available</h1>
	</div>
	<div id="shop-cart">
		<h1>Items Added</h1>
	</div>


<script src="underscore.js"></script>
<script src="jquery.js"></script>

<script src="book.js"></script>
<script src="test.js"></script>
</body>
</hmtl>
